<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-app-status-bar-style" content="black" />
  <meta name="apple-touch-fullscreen" content="YES" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0" />
  <title>intro</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/haf.css" />
  <link rel="stylesheet" type="text/css" href="static/css/infor.css" />
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script src="static/js/haf.js"></script>
  <script type="text/javascript" src="static/js/infor.js"></script>
</head>
<body>

<div class="header"><!--导航栏-->
      <div class="container2"><!--导航栏内部容器：主要保证分辨率高时，内容大小不变居中显示-->
          <div class="logo_h"><!--logo:左端显示-->
              <a href="index.html">
                  <h1>武汉大学国际软件学院校友会</h1>
                </a>
          </div>
          <div class="logo_i"><!--logo图像：右端显示-->
            <a href="index.html">
              <img src="static/img/logo.jpg" />
            </a>
            <ul id="nav">
              <a href=""><li>uhetuh</li></a>
              <a href=""><li>uueo</li></a>
              <a href=""><li>uhe</li></a>
            </ul>
          </div>
        </div>
</div>
	<div class="container2">
	  <div class="infor">
        	<div class="infor_avator">
            <p align="center"><img src="static/img/logo.jpg"/></p>
       	  </div>
    		<div class="infor_basic">
        		<div class="inft1"><p>姓名：</p></div>
        		<div class="infb1"><p>我原本是大山深处一个修炼千年的大柠檬</p></div>
            	<div class="inft2"><p>性别：</p></div>
            	<div class="infb2"><p>植物</p></div>
            	<div class="inft3"><p>出身年月：</p></div>
            	<div class="infb3"><p>1000年9月</p></div>
            	<div class="inft4"><p>QQ：</p></div>
            	<div class="infb4"><p>101010101</p></div>
            	<div class="inft5"><p>E-mail：</p></div>
            	<div class="infb5"><p>an_ancient_lemon@lemon.com</p></div>
        	</div>
        	<div class="infor_detail">
            	<div class="inftde"><p>个人介绍</p></div>
            	<div class="infbde details"><p>我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。我原本是大山深处一棵包治百病的板蓝根，然后变成了大山深处一个修炼千年的大柠檬。</p></div>
			</div>
            <div class="infor_back">
            	<a href="people.html">
                <div class="infbbk">
                	<h5>返回列表</h5>
                </div>
              </a>
            </div>
    	</div>
    </div>


  <div class="footer">
          <div class="container2">
            <div class="footer_left">
              <!--footer_left-->
              <div class="footer_l1">
                <!--footer_l1-->
                <ul class="footer_l1_ul">
                  <li class="tlu1"> <i> </i>联系电话：000-00000000</li>
                  <li class="tlu2"> <i> </i>QQ：00000000</li>
                  <li class="tlu3"> <i> </i> 群号：0000000</li>
                </ul>
              </div>
              <div class="footer_l2">
                <!--tial_l2-->
                <div class="footer_l2_r">
                  <!--footer_l2_r-->
                  <p>Copyright © 2015 WHUISS Inc</p>
                   </div>
              </div>
            </div>
            <div class="footer_right">
              <!--footer_right-->
              <div class="contact">
                <a href="" class="icr-1"><b><i></i></b></a>
                <a href="" class="icr-2"><b><i></i></b></a>
                <a href="" class="icr-3"><b><i></i></b></a>
              </div>
              <div class="rpcode">
                <p>扫描关注</p>
                <p>国软校友会</p>
                <a href="">
                  <img src="static/img/yzm.jpg" />
                  <i class="zoom"><img src="static/img/yzm.jpg" /></i>
                </a>
              </div>
            </div>
          </div>
  </div>
</body>
