<div id="slider" data-block-text="false">
  <ul>
    <li data-background="../static/image/a1.jpg"></li>
    <li data-background="../static/image/a2.jpg"></li>
    <li data-background="../static/image/a3.jpg"></li>
    <li data-background="../static/image/a4.jpg"></li>
    <li data-background="../static/image/a5.jpg"></li>
  </ul>
</div>
<div class="content">
  <div class="mid-display">
    <a class="outa" href="people.html">
      <div class="display display-1" id="con1">
        <div  class="left"><img src="images/4.jpg" class="hidecontent"></div>
        <div class="right">
          <h3>校友名录</h3>
          <span>武汉大学国际软件学院</span>
          <p class="subtitle">武大国软校友遍布全国各地</p>
          <div class="hidecontent">
            <p>aliwuhawieuhauwfh dfafrafr awfvasfva  wefasdc wrfaer wefwe ssss</p>

          </div>
        </div>
      </div>
    </a>
    <a class="outa" href="people.html">
      <div class="display display-2" id="con2">
        <div class="left"><img src="images/4.jpg" class="hidecontent"></div>
        <div class="right">
          <h3>风采展示</h3>
          <span>武汉大学国际软件学院</span>
          <p class="qqq">国软历届校友大赛风采生活</p>
          <div class="hidecontent">
            <p>aliwuhawieuhauwfh dfafrafr awfvasfva  wefasdc wrfaer wefwe ssss</p>
          </div>
        </div>
      </div>

    </a>
    <a class="outa" href="people.html">
      <div class="display display-3" id="con3">
        <div class="left"><img src="images/4.jpg" class="hidecontent"></div>
        <div class="right">
          <h3>新闻公告</h3>
          <span>武汉大学国际软件学院</span>
          <p class="qqq">国软日常事物及通知公告</p>
          <div class="hidecontent">
            <p>aliwuhawieuhauwfh dfafrafr awfvasfva  wefasdc wrfaer wefwe ssss</p>
          </div>
        </div>
      </div>
      <div style="clear: both"></div>
    </a>
  </div>
</div>
