<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-app-status-bar-style" content="black" />
	<meta name="apple-touch-fullscreen" content="YES" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0" />
	<title>people</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/haf.css">
	<link rel="stylesheet" href="static/css/people.css">
	<script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header"><!--导航栏-->
      <div class="container2"><!--导航栏内部容器：主要保证分辨率高时，内容大小不变居中显示-->
          <div class="logo_h"><!--logo:左端显示-->
              <a href="index.html">
                  <h1>武汉大学国际软件学院校友会</h1>
                </a>
          </div>
          <div class="logo_i"><!--logo图像：右端显示-->
            <a href="index.html">
              <img src="static/img/logo.jpg" />
            </a>
            <ul id="nav">
              <a href=""><li>uhetuh</li></a>
              <a href=""><li>uueo</li></a>
              <a href=""><li>uhe</li></a>
            </ul>
          </div>
        </div>
</div>

	<div class="container main">
    <div id="select">
      <div class="btn-group">
        <button type="button" class="btn btn-green dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
  </div>
    </div>
		<div class="row">
			<div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
			<div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 information">
        <div class="profile">
          <a href="infor.html" class="photo"><img src="static/img/logo.jpg" alt=""></a>
          <a href="infor.html" class="name"><p>hteuhtouh</p></a>
          <p class="detail">ueouoeueouakkeouoeueouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
        </div>
      </div>
		</div>
	</div>
  <div id="paging">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
        <li  class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
  </div>

  <div class="footer">
          <div class="container2">
            <div class="footer_left">
              <!--footer_left-->
              <div class="footer_l1">
                <!--footer_l1-->
                <ul class="footer_l1_ul">
                  <li class="tlu1"> <i> </i>联系电话：000-00000000</li>
                  <li class="tlu2"> <i> </i>QQ：00000000</li>
                  <li class="tlu3"> <i> </i> 群号：0000000</li>
                </ul>
              </div>
              <div class="footer_l2">
                <!--tial_l2-->
                <div class="footer_l2_r">
                  <!--footer_l2_r-->
                  <p>Copyright © 2015 WHUISS Inc</p>
                   </div>
              </div>
            </div>
            <div class="footer_right">
              <!--footer_right-->
              <div class="contact"> 
                <a href="" class="icr-1"><b><i></i></b></a> 
                <a href="" class="icr-2"><b><i></i></b></a> 
                <a href="" class="icr-3"><b><i></i></b></a> 
              </div>
              <div class="rpcode">
                <p>扫描关注</p>
                <p>国软校友会</p>
                <a href="">
                  <img src="static/img/yzm.jpg" />
                  <i class="zoom"><img src="static/img/yzm.jpg" /></i>
                </a> 
              </div>
            </div>
          </div>
  </div>
</body>
</html>